body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    /* paragraph/list k /others k parallal a niye ase  */
    display: flex;

    /* justifi content 2ta content k tader last borabor niye giye tader majhe gap creat kore  */
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.primary-color {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;

    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    padding: 18px 35px;
}

.nav-title {
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    list-style: none;

    /* 2ta content k parallal borabor niye ase  */
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-right: 50px;

    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav button {
    display: flex;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-details {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-heading {
    color: var(--Dark-01, #181818);
    font-size: 60px;
    font-weight: 700;
    margin-top: 15px;
}

.banner-para {
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;

}

.hardy-picture {
    width: 500px;
}

/* main section style  */

main {
    width: 1140px;
    margin: 0px auto;

}

main section {
    margin-top: 130px;
}

/* about section  */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 130px 0px;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.info-description {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.skill-info {
    display: flex;
    justify-content: space-around;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section  */

.resume-column-title {
    color: var(--Dark-02, #474747);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.resume-item-institute {
    color: var(--Dark-03, #757575);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 15px;
}

.resume-item-description {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    width: 511px;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin: 50px;
}

/* footer section  */

footer {
    display: flex;
    margin-top: 150px;
    padding: 130px 200px;
    justify-content: space-between;
    background: #FFF8F3;

}

.section-description {
    width: 562px;

    color: var(--Dark-02, #474747);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.contact input[type="text"], input[type="email"]
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: 0;

}
.contact .btn-primary